<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/index.css" rel="stylesheet" type="text/css" />
        <script src="/js/main.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div class="login-box">
            <h2>PassionPay Sample Web</h2>
            <h5>dev_team_1</h5>
            <a href="#" class="social-button" id="kakao-connect"></a>
        </div>
    </body>
</html>
