<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/main.css" rel="stylesheet" type="text/css" />
        <script src="/js/main.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div class="header">
            <p>{{ user + '님 안녕하세요!' }}</p>
            <button
                class="create-page-button"
                id="create-page-button"
                onclick="location.href='create'"
            >
                글 생성하기
            </button>
        </div>
        <ul class="list">
            {% for post in user.board %}
            <div class="elem_box" id="{{ post.post_id }}">
                <div>
                    <div class="title_box">{{ post.title }}</div>
                    <div class="contents_box">{{ post.content }}</div>
                </div>
                <div class="act_box">
                    <div>
                        <button
                            type="button"
                            class="update-button"
                            data-post-id="{{ post.post_id }}"
                        >
                            수정
                        </button>
                        <button
                            type="button"
                            class="delete-button"
                            data-post-id="{{ post.post_id }}"
                        >
                            삭제
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </body>
</html>
