<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/main.css" rel="stylesheet" type="text/css" />
        <script src="/js/main.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div class="header">
            <p>{{ user.nick + '님 안녕하세요!' }}</p>
            <button
                class="create-page-button"
                id="create-page-button"
                onclick="location.href='create'"
            >
                글 생성하기
            </button>
        </div>
        <ul id="list">
            <div id="elem_box">
                <div>
                    <div id="title_box">샘플 제목</div>
                    <div id="contents_box">
                        샘플 내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플
                        내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플
                        내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플
                        내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플
                        내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플
                        내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플 내용입니다. 샘플
                        내용입니다. 샘플 내용입니다.
                    </div>
                </div>
                <div id="act_box">
                    <div>
                        <button type="button" id="update-page">수정</button>
                        <button type="button" id="delete-button">삭제</button>
                    </div>
                </div>
            </div>
            {% for post in posts %}
            <div id="elem_box">
                <div>
                    <div id="title_box">{{ post.title }}</div>
                    <div id="contents_box">{{ post.contents }}</div>
                </div>
                <div id="act_box">
                    <div>
                        <button type="button" id="update-page">수정</button>
                        <button type="button" id="delete-button">삭제</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </body>
</html>
